.button {
    border: none;
    border-radius: 100vmax;
    box-shadow: 0 12px 12px rgba(black, .2);
    transition: all .3s;

    &.small {
        width: 150px;
        font-size: 1rem;
        padding: 8px;
    }
    
    &.medium {
        width: 250px;
        font-size: 1.25rem;
        padding: 12px;
    }
    
    &.large {
        width: 350px;
        font-size: 1.5rem;
        padding: 16px;
    }
    
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 20px 20px rgba(black, .2);
    }
    
    &:active {
        transform: translateY(4px);
        box-shadow: 0 4px 4px rgba(black, .2);
    }
}