.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;

    .item {
        margin: 0 16px;
    }

    .item-prev, .item-next {
        transform: scale(.7);
    }

    button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: none;
        
        &:disabled::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(black, .35);
            border-radius: 8px;
            z-index: 999;
        }
    }
    
    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: fit-content;

        &.reverse {
            transform: rotate(180deg);
        }
    }
}