.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;

    .item {
        margin: 0 16px;
    }

    .item-group {
        display: flex;
        
        .item-prev, .item-next {
            transform: scale(.7);
        }
    }

    button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: none;
        box-shadow: 0 12px 12px rgba(black, .2);
        transition: all .3s;
        
        &:disabled::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(black, .35);
            border-radius: 8px;
            z-index: 999;
        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 20px 20px rgba(black, .2);
        }
        
        &:active {
            transform: translateY(4px);
            box-shadow: 0 4px 4px rgba(black, .2);
        }
    }
    
    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: fit-content;

        &.reverse {
            transform: rotate(180deg);
        }
    }
}

.item-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    .one-item {
        position: absolute;
    }
}

// React Transition Group animations
.from-right-enter {
    transform: translateX(calc(100% + 64px));
}
.from-right-enter-active {
    transform: translateX(0);
    transition: all .3s;
}
.from-right-exit {
    transform: translateX(0);
}
.from-right-exit-active {
    transform: translateX(calc(-100% - 64px));
    opacity: 0;
    transition: all .3s;
}

.from-left-enter {
    transform: translateX(calc(-100% - 64px));
}
.from-left-enter-active {
    transform: translateX(0);
    transition: all .3s;
}
.from-left-exit {
    transform: translateX(0);
}
.from-left-exit-active {
    transform: translateX(calc(100% + 64px));
    opacity: 0;
    transition: all .3s;
}