#root {
    width: 100%;
    text-align: center;
}

.App {
    .component-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px 0;
        border-bottom: 3px solid #7e7e7e;

        &:last-child {
            border-bottom: none;
        }
    }

    .parallax-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            font-weight: 700;
            text-shadow: 0 0 16px black, 0 0 16px black, 0 0 16px black;

            p {
                font-size: 1.5rem;
            }
        }
    }
}
